ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* focus style */
:focus, a:focus, a:active{ outline: 0; }

ins{ text-decoration: none; }
del{ text-decoration: line-through; }

/* table */
table{border-collapse: collapse; border-spacing: 0;}

/* clear */
.clear{clear:both;}
.clear-l{clear:left;}
.clear-r{clear:right;}
a {
    color: inherit;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #A9A9A9;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}