body {
    font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica,"黑体",Arial,Tahoma;
    font-size: 14px;
    min-height: 100%;
}


.box{ min-width: 320px; max-width: 640px; margin: 0 auto;}

.p1{ width: 100%; background-color: #04be01; text-align: center; color: #fff; line-height: 3.2em; font-size: 1.2em;}

.forms{ margin-top: 20px;}
.forms-i{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;}
.forms .forms-i label{ position: absolute; left: 5%; top: 50%; margin-top: -10px; margin-left: -8px; width: 17px; height: 20px;}
.forms .forms-i .int{ width: 90%; padding: 10px 0px; padding-left: 10%; font-size: 1.2em; border: 0; font-weight: bold; color: #222;}

.con{ padding: 0 3%;}
.con .tab{ width: 100%; margin-top: 20px; overflow: hidden;}
.con .tab li{ float: left; width: 23%; border: 1px solid #dedede; background-color: #f7f7f7; border-radius: 4px; text-align: center; line-height: 3em; cursor: pointer; margin-bottom: 10px; color: #4a484d; font-weight: bold; margin-right: 2%;}
.con .tab li:nth-child(4n){ margin-right: 0;}
.con .tab li.curr{ background-color: #00c300; color: #fff;}

.price{ width: 100%;}
.price p{ text-align: center; font-size: 1.2em; color: #6cb716; display: none; line-height: 3em;}
.price p.curr{ display: block;}

.subimts{ width: 100%;}
.subimts a{ display: block; width: 100%; line-height: 2.6em; background-color: #04be01; color: #fff; text-align: center; font-size: 1.2em; cursor: pointer;}

.careful{ margin-top: 10px;}
.careful h3, .careful p{ color: #6e6e6e; font-family: "宋体"; line-height: 180%; font-weight: 100;}



